@await Component.InvokeAsync("CartSummary")

<!-- Информация пользователя -->
@* <a href="#" class="navbar-text ms-auto">
    00,0 руб <i class="fa-solid fa-cart-shopping"></i> (0)
</a> *@
<div class="dropdown ms-4 nav-color">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        kamilla.melikava@gmail.com
        <img src="images/default-profile-picture.png" width="30"
             alt="User" class="rounded nav-color" />
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <a class="dropdown-item-text" asp-controller="Cart" asp-action="Index">
                <img src="images/default-profile-picture.png"
                     width="50" alt="User" class="rounded" />
                kamilla.melikava@gmail.com
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <form id="logoutForm" class="form-inline">
                <a class="dropdown-item-text" asp-controller="Account" asp-action="Logout">Logout</a>
            </form>
        </li>
    </ul>
</div>