@{
    var name = @User
        .Claims
        .FirstOrDefault(c => c.Type.Equals("preferred_username",
        StringComparison.OrdinalIgnoreCase))?
           .Value;

    var avatar = @User
        .Claims
        .FirstOrDefault(c => c.Type.Equals("avatar",
        StringComparison.OrdinalIgnoreCase))?
           .Value;

}

@if (User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("CartSummary")

    <!-- Информация пользователя -->
    <div class="dropdown ms-4 nav-color">
        <button class="btn btn-secondary dropdown-toggle"
                type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            @name
            <img src=@avatar width="30"
                 alt="User" class="rounded nav-color" />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li>
                <a class="dropdown-item-text" asp-controller="Cart" asp-action="Index">
                    <img src=@avatar class="rounded" width="50" />
                    @name
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form id="logoutForm" method="post" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="dropdown-item-text">Log out</button>
                </form>
            </li>
        </ul>
    </div>
}
else
{
    <!-- Кнопки входа и регистрации для неавторизованных пользователей -->
    <a class="btn btn-primary ms-auto" asp-controller="Account" asp-action="Login">Login</a>
    <a class="btn btn-secondary ms-2" asp-controller="Account" asp-action="Register">Register</a>
}


